{
  "presets": [
    "@babel/typescript",
    [
      "@babel/env",
      {
        "loose": true,
        "useBuiltIns": "usage",
        "corejs": 3,
        "targets": {
          "node": 16
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3,
        "helpers": true,
        "regenerator": false
      }
    ]
  ]
}
